@font-face {
	font-family: 'sfizia';
	src: url('https://cdn.jsdelivr.net/gh/riabets/locator@main/sfizia-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

body, html {
	font-family: "sfizia", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #f0dfc0;
	color:#113122;
	text-transform:uppercase;
}

.form-group input,
.form-group select,
.form-group textarea {
	border-radius: 0;
	border: 1px solid #113122;
	background-color: #f0dfc0;
	color: #113122 !important;
}
.panel {
	border: 1px solid #113122;
	background-color: #f0dfc0;
}

input::placeholder{
    color: #113122 !important;
}
.panel-footer {
display: none !important;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]{
    background-color: #113122 !important;
	background-image: none !important;
    border-color: #113122;
    color: #ffffff !important;
}
